rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedInOrPublic() {
      return request.auth.uid != null || resource.data.visibility == 'public';
    }

    match /channels/{channelId} {
      allow read: if signedInOrPublic();
      allow create: if signedInOrPublic();
      allow update: if signedInOrPublic();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}