rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {

     // Allow write access to the specific file path
    match /uploads/{userId}/{imageId=**} {
      allow read: if request.auth.uid == userId; // Allow only authenticated users to write
      allow write: if request.auth.uid == userId; // Allow only authenticated users to write
      allow delete: if request.auth.uid == userId; // Allow only authenticated users to write
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
